.bedi-divider {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;
  border: 0;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}

.bedi-divider-vertical {
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(5, 5, 5, 0.06);
}

.bedi-divider-dashed {
  border-top: 1px dashed rgba(5, 5, 5, 0.06);
}

.bedi-divider-vertical.bedi-divider-dashed {
  border-left: 1px dashed rgba(5, 5, 5, 0.06);
}

.bedi-divider-with-text {
  display: flex;
  align-items: center;
  margin: 16px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  border-top: 0;
  border-top-color: rgba(5, 5, 5, 0.06);
}

.bedi-divider-with-text::before,
.bedi-divider-with-text::after {
  position: relative;
  width: 50%;
  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  transform: translateY(50%);
  content: '';
}

.bedi-divider-plain .bedi-divider-inner-text {
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.bedi-divider-inner-text {
  display: inline-block;
  padding: 0 1em;
}

.bedi-divider-with-text-left .bedi-divider-inner-text {
  margin-left: 0;
}

.bedi-divider-with-text-right .bedi-divider-inner-text {
  margin-right: 0;
}
